* {
  box-sizing: border-box; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal; }
.home-page {
  background: linear-gradient(#59127f, #c70b83);
  color: white;
  font-size: 20px;
  font-family: 'Montserrat';
  margin: 0px; }
  .home-page .main {
    padding-left: 45px;
    padding-right: 45px; }
  .home-page a {
    color: white; }
  .home-page .nav {
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Montserrat'; }
    .home-page .nav-avatar {
      width: 100px;
      margin-left: 45px;
      margin-right: 45px; }
    .home-page .nav-links {
      display: flex;
      margin: 0;
      padding: 0; }
      .home-page .nav-links__item {
        list-style-type: none;
        margin: auto 35px;
        padding: 0; }
        .home-page .nav-links__item a {
          text-decoration: none; }
    .home-page .nav-right {
      margin-left: auto;
      display: flex; }
      .home-page .nav-right__hamburger {
        display: none; }
      .home-page .nav-right__search {
        width: 250px;
        height: 37px;
        border-radius: 24px;
        text-align: right;
        background: transparent;
        border-color: white;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px; }
        .home-page .nav-right__search:focus-visible {
          outline-color: #ffffff30; }
        .home-page .nav-right__search::placeholder {
          display: block !important;
          color: white;
          opacity: 0.7; }
      .home-page .nav-right__socials {
        margin-left: 27px; }
        .home-page .nav-right__socials .fa {
          padding: 3px;
          font-size: 20px;
          width: 25px;
          border-radius: 50%;
          text-decoration: none;
          margin: 5px 2px;
          height: 25px;
          text-align: center;
          color: #6c1080;
          background-color: white; }
          .home-page .nav-right__socials .fa::before {
            line-height: 26px;
            display: inline-block; }
  .home-page .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px; }
    .home-page .hero-left {
      font-family: 'Montserrat'; }
      .home-page .hero-left__title {
        font-family: 'Audiowide', sans-serif;
        font-size: 105px;
        font-weight: 100;
        line-height: 0.9;
        margin: 0; }
      .home-page .hero-left__subtitle {
        font-size: 50px;
        margin: 25px auto 45px auto;
        line-height: 1; }
      .home-page .hero-left__text {
        line-height: 1.5;
        margin: 0; }
      .home-page .hero-left__btn {
        width: 277px;
        height: 54px;
        display: inline-block;
        border: 2px solid white;
        border-radius: 30px;
        text-align: center;
        line-height: 54px;
        font-size: 25px;
        text-decoration: none;
        margin-top: 53px; }
    .home-page .hero-right {
      margin-left: 100px; }
  .home-page .security {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    position: relative; }
    .home-page .security-left::before {
      position: absolute;
      content: '';
      background: url(../image/decoration-left-1.png);
      width: 248px;
      height: 883px;
      left: -52px;
      top: -340px; }
    .home-page .security-right {
      margin-left: 35px; }
      .home-page .security-right__title {
        font-size: 50px;
        font-family: 'Audiowide';
        line-height: 1;
        margin: 0;
        font-weight: 100; }
      .home-page .security-right__subtitle {
        margin: 30px auto 60px auto;
        font-size: 32px;
        font-weight: 100; }
      .home-page .security-right::before {
        position: absolute;
        content: '';
        background: url(../image/decoration-right-1.png);
        width: 315px;
        height: 872px;
        right: -52px;
        top: -600px; }
  .home-page .control {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .home-page .control-items {
      min-height: 540px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffffff7f;
      border-radius: 30px;
      background: linear-gradient(#ffffff27, #ffffff50, #ffffff50, #ffffff00); }
    .home-page .control-item {
      max-width: 370px;
      text-align: center;
      margin-top: 20px;
      margin-left: 25px;
      margin-right: 25px;
      flex: 1 0 0%; }
      .home-page .control-item-image {
        height: 180px;
        position: relative; }
        .home-page .control-item-image__content {
          bottom: 0;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0); }
      .home-page .control-item__title {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: bold; }
  .home-page .security-mode {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 137px; }
    .home-page .security-mode__title {
      font-family: 'Montserrat';
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
      margin: 0; }
    .home-page .security-mode-items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 95px 0px 125px 0px; }
    .home-page .security-mode-item {
      border: 2px solid #ffffff60;
      margin: 0;
      height: 600px;
      border-radius: 20px;
      background-image: linear-gradient(#661c9d, #ffffff30);
      box-shadow: inset 0 0 15px #ffffff50;
      display: block;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      .home-page .security-mode-item-wrapper {
        flex: 1 0 0%;
        padding: 0 50px; }
      .home-page .security-mode-item-image {
        display: block;
        height: 290px;
        position: relative; }
        .home-page .security-mode-item-image__content {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
      .home-page .security-mode-item__title {
        display: inline-block;
        font-family: 'Audiowide';
        font-size: 35px;
        text-transform: uppercase;
        margin: 0;
        line-height: 1;
        font-weight: 100;
        margin-top: 30px; }
      .home-page .security-mode-item__desc {
        max-width: 288px;
        display: inline-block;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 40px; }
      .home-page .security-mode-item__btn {
        width: 148px;
        height: 36px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 30px;
        text-align: center;
        line-height: 54px;
        font-size: 18px;
        text-decoration: none;
        line-height: 36px;
        margin: 0; }
    .home-page .security-mode__desc {
      max-width: 1172px;
      line-height: 1.5;
      height: 90px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block; }
  .home-page .smart-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 198px;
    margin-bottom: 198px; }
    .home-page .smart-home-left {
      flex: 0 0 45%; }
      .home-page .smart-home-left__image {
        margin-top: 25px;
        display: block;
        margin: auto; }
    .home-page .smart-home-right {
      padding: 0;
      padding-right: 87px;
      padding-left: 20px; }
      .home-page .smart-home-right-wrapper {
        flex: 0 0 55%; }
      .home-page .smart-home-right__title {
        font-size: 80px;
        font-family: 'Audiowide';
        line-height: 1;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase; }
      .home-page .smart-home-right__desc {
        margin: 90px auto 50px auto;
        line-height: 1.5; }
      .home-page .smart-home-right__btn {
        width: 277px;
        height: 54px;
        display: inline-block;
        border: 2px solid white;
        border-radius: 30px;
        text-align: center;
        line-height: 54px;
        font-size: 25px;
        text-decoration: none; }
  .home-page .monitor {
    display: flex;
    justify-content: center;
    margin-top: 198px;
    margin-bottom: 198px; }
    .home-page .monitor-left {
      flex: 1 0 0%;
      padding-left: 80px; }
      .home-page .monitor-left__title {
        font-size: 50px;
        font-family: 'Audiowide';
        line-height: 1;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        max-width: 430px; }
      .home-page .monitor-left-desc {
        margin-top: 100px;
        line-height: 1.5;
        margin-left: -20px; }
        .home-page .monitor-left-desc__item {
          margin-bottom: 40px;
          line-break: anywhere; }
      .home-page .monitor-left-form {
        text-align: center; }
        .home-page .monitor-left-form__subtitle {
          font-size: 30px;
          line-height: 1;
          margin: 0;
          font-style: italic;
          text-align: center; }
        .home-page .monitor-left-form__title {
          line-height: 1;
          margin: 0;
          font-style: italic;
          text-align: center;
          font-size: 50px;
          font-family: 'Montserrat';
          letter-spacing: 10px;
          margin-top: 20px;
          margin-bottom: 70px; }
        .home-page .monitor-left-form-group {
          justify-content: space-between;
          align-items: center;
          display: flex; }
          .home-page .monitor-left-form-group__content {
            margin-bottom: 20px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 5px; }
          .home-page .monitor-left-form-group-wrapper {
            max-width: 440px;
            display: inline-block; }
          .home-page .monitor-left-form-group__input {
            height: 60px;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
            background: transparent;
            border-color: white;
            color: white;
            font-size: 20px; }
            .home-page .monitor-left-form-group__input:not(:last-child) {
              margin-right: 30px; }
            .home-page .monitor-left-form-group__input:focus-visible {
              outline-color: #ffffff30; }
            .home-page .monitor-left-form-group__input::placeholder {
              display: block !important;
              color: white;
              opacity: 0.7; }
    .home-page .monitor-right {
      background-image: url("../image/smartphone.png");
      width: 560px;
      height: 1100px;
      background-repeat: no-repeat;
      margin-left: 70px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; }
      .home-page .monitor-right-wrapper {
        flex: 1 0 0%;
        padding-right: 55px;
        padding-top: 142px; }
      .home-page .monitor-right-top {
        text-align: center;
        margin-top: 150px; }
        .home-page .monitor-right-top__title {
          text-transform: uppercase;
          font-size: 40px;
          font-family: 'Audiowide';
          max-width: 215px;
          font-weight: 100;
          margin-top: 60px; }
      .home-page .monitor-right-bottom {
        margin-bottom: 170px; }
        .home-page .monitor-right-bottom__btn {
          width: 277px;
          height: 54px;
          display: inline-block;
          border: 2px solid white;
          border-radius: 30px;
          text-align: center;
          line-height: 54px;
          font-size: 25px;
          text-decoration: none; }
  .home-page .about-us {
    display: flex;
    justify-content: center;
    align-items: center; }
    .home-page .about-us-left-wrapper {
      flex: 1 0 0%; }
    .home-page .about-us-left__image {
      display: block;
      margin: 0 0 0 auto; }
    .home-page .about-us-right {
      padding: 0 140px 0 60px;
      font-size: 25px; }
      .home-page .about-us-right-wrapper {
        flex: 1 0 0%; }
      .home-page .about-us-right__title {
        margin: 0;
        font-size: 60px;
        line-height: 1;
        letter-spacing: 5px; }
      .home-page .about-us-right__desc {
        margin-top: 110px;
        margin-bottom: 80px; }
      .home-page .about-us-right-contact {
        margin-bottom: 200px; }
        .home-page .about-us-right-contact-item {
          line-height: 1.5;
          padding-left: 5px;
          font-size: 25px; }
          .home-page .about-us-right-contact-item__link {
            text-decoration: none; }
          .home-page .about-us-right-contact-item i {
            width: 50px;
            font-size: 29px;
            line-height: 1.5; }
  .home-page .footer {
    background-color: #a12fb1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 90px;
    padding-bottom: 80px;
    border-top: 3px solid #e36bf3; }
    .home-page .footer-column1 {
      flex: 6 0 0%; }
      .home-page .footer-column1__desc {
        font-size: 18px;
        line-height: 1.5; }
    .home-page .footer-column2 {
      flex: 2.5 0 0%; }
    .home-page .footer-column3 {
      flex: 2.5 0 0%; }
    .home-page .footer-column4 {
      flex: 2.5 0 0%; }
    .home-page .footer-links {
      font-size: 18px;
      padding-inline-start: 0; }
    .home-page .footer__title {
      font-size: 20px;
      font-family: 'Montserrat';
      text-transform: uppercase; }
    .home-page .footer__link {
      list-style-type: none;
      line-height: 1.5; }
      .home-page .footer__link a {
        text-decoration: none; }
  @media (max-width: 425px) {
    .home-page {
      font-size: 16px; }
      .home-page .nav {
        padding: 0;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px; }
        .home-page .nav-avatar {
          width: 80px;
          margin-left: 0px;
          margin-right: 25px; }
          .home-page .nav-avatar__image {
            width: 60px; }
        .home-page .nav-links {
          display: none; }
        .home-page .nav-right {
          display: none; }
          .home-page .nav-right__hamburger {
            display: block;
            margin-left: auto;
            font-size: 32px; }
      .home-page .main {
        padding: 0px; }
      .home-page .hero {
        flex-direction: column;
        margin-top: 80px;
        margin-left: 15px;
        margin-right: 15px; }
        .home-page .hero-left__title {
          font-size: 35px;
          text-align: center; }
        .home-page .hero-left__subtitle {
          font-size: 28px;
          margin-top: 10px;
          margin-bottom: 30px;
          text-align: center; }
        .home-page .hero-left__btn {
          margin: 0 auto;
          margin-top: 53px;
          margin-bottom: 50px;
          display: block;
          width: 200px;
          height: 44px;
          line-height: 44px;
          font-size: 20px; }
        .home-page .hero-right {
          margin: 0;
          padding-top: 30px;
          padding-left: 10px;
          padding-right: 10px;
          object-fit: cover; }
          .home-page .hero-right__image {
            object-fit: cover;
            width: 100%; }
      .home-page .security {
        text-align: center;
        margin: 0 20px;
        margin-top: 120px;
        flex-direction: column; }
        .home-page .security-left {
          order: 1;
          margin: 40px 0 50px 0; }
          .home-page .security-left::before {
            display: none; }
          .home-page .security-left__image {
            width: 100%;
            object-fit: contain; }
        .home-page .security-right {
          margin: 0; }
          .home-page .security-right::before {
            display: none; }
          .home-page .security-right__title {
            font-size: 36px;
            font-family: 'Audiowide';
            line-height: 1;
            margin: 0;
            font-weight: 100; }
          .home-page .security-right__subtitle {
            margin: 10px auto 30px auto;
            font-size: 28px;
            font-weight: 100; }
      .home-page .control-items {
        flex-direction: column;
        margin: 0 20px; }
      .home-page .control-item {
        margin-top: 40px;
        margin-bottom: 40px; }
        .home-page .control-item__title {
          font-size: 25px; }
      .home-page .security-mode {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px; }
        .home-page .security-mode__title {
          font-size: 35px;
          margin-left: 30px;
          margin-right: 30px; }
        .home-page .security-mode-items {
          flex-direction: column;
          margin-top: 40px;
          margin-bottom: 0px;
          order: 1; }
        .home-page .security-mode-item-wrapper {
          padding: 0;
          width: 100%;
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 30px; }
        .home-page .security-mode-item-image {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px; }
          .home-page .security-mode-item-image__content {
            width: 100%;
            object-fit: none; }
        .home-page .security-mode__desc {
          margin-top: 25px;
          margin-left: 25px;
          margin-right: 25px; }
      .home-page .smart-home {
        display: block;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 100px; }
        .home-page .smart-home-left {
          width: 100%; }
          .home-page .smart-home-left__image {
            width: 100%; }
        .home-page .smart-home-right {
          padding: 0; }
          .home-page .smart-home-right-wrapper {
            padding: 0;
            margin-top: 50px; }
          .home-page .smart-home-right__title {
            font-size: 40px;
            text-align: center; }
          .home-page .smart-home-right__desc {
            margin-top: 40px; }
          .home-page .smart-home-right__btn {
            margin: 0 auto;
            margin-top: 33px;
            margin-bottom: 50px;
            display: block;
            width: 200px;
            height: 44px;
            line-height: 44px;
            font-size: 20px; }
      .home-page .monitor {
        display: block;
        margin-top: 0px;
        margin-bottom: 0px; }
        .home-page .monitor-left {
          padding: 0; }
          .home-page .monitor-left__title {
            font-size: 35px;
            text-align: center; }
          .home-page .monitor-left-desc {
            margin: 30px 30px 30px 10px; }
            .home-page .monitor-left-desc__item {
              margin-bottom: 10px; }
          .home-page .monitor-left-form__title {
            margin-bottom: 0; }
          .home-page .monitor-left-form-group {
            display: block; }
            .home-page .monitor-left-form-group__content {
              text-align: center; }
            .home-page .monitor-left-form-group__input {
              margin-top: 20px;
              width: 100%;
              margin-left: 0px;
              margin-right: 0px;
              display: block; }
              .home-page .monitor-left-form-group__input:not(:last-child) {
                margin-right: 0; }
        .home-page .monitor-right {
          width: 100vw;
          height: 192vw;
          background-size: contain;
          margin: 0;
          margin-bottom: 40px; }
          .home-page .monitor-right-wrapper {
            width: 100%;
            padding: 0;
            padding-top: 80px; }
          .home-page .monitor-right-top {
            margin-top: 28vw; }
            .home-page .monitor-right-top__title {
              margin-top: 5vw;
              font-size: 25px; }
          .home-page .monitor-right-bottom__btn {
            margin: 0 auto;
            margin-top: 33px;
            margin-bottom: 50px;
            display: block;
            width: 200px;
            height: 44px;
            line-height: 44px;
            font-size: 20px; }
      .home-page .about-us {
        display: block; }
        .home-page .about-us-left {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px; }
          .home-page .about-us-left-wrapper {
            width: 100%; }
          .home-page .about-us-left__image {
            object-fit: contain;
            width: 100%;
            margin: 0; }
        .home-page .about-us-right {
          padding: 0;
          padding-left: 20px;
          padding-right: 20px; }
          .home-page .about-us-right__title {
            text-align: center;
            font-size: 35px; }
          .home-page .about-us-right__desc {
            margin-top: 30px;
            font-size: 18px; } }
  .home-page .footer {
    display: block;
    padding-left: 40px;
    padding-right: 40px; }

/*# sourceMappingURL=main.css.map */
